@font-face{
    font-family: "MarkerFelt";
    src: url(./MarkerFelt.ttf) format("truetype");
}

body {
    font-family: "MarkerFelt";
    letter-spacing: 2.5px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    background-image: url("assets/siteBG.jpg");
}

h3{
    font-size: 1.8rem;
}

#search{
    height: 10%;
    width: 30%;
    font-size: 16px;
    border-radius: 5px;
    
}
#search:focus {
    outline: none;
}
.about, .filterSearch, .row4, .row5, .row6 {
    background:rgba(66, 107, 105, 0.5);
    border-radius: 10px;
}
.logo{
    height: 75px;
    margin: 1%;
}
.title{
    height: 6rem;
}
.about {
    height: 11rem;
}

.filterSearch {
    height: 18rem;
}

.row4, .row5 {
    height: 30rem;
    overflow: auto;
}

#search{
    background: rgba(255, 255, 255, 0.75);
}

ul {
    list-style-type: none;
}

.check {
    float: left;
    margin-right: 2rem;
}

.row6{
    background:rgba(66, 107, 105, 0.5);
    height: 30rem;
    margin-bottom: 5%;
}
.barGraph{
    height: 82%;
}

.hidden {
    display: none;
}
a:link, a:visited {
    color: black;
}
img {
    border-radius: 10px;
}
