@font-face{
    font-family: "MarkerFelt";
    src: url(./MarkerFelt.ttf) format("truetype");
}

body {
    font-family: "MarkerFelt";
    letter-spacing: 2.5px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    background-image: url("assets/siteBG.jpg");
}

.row4, .row5, .row6 {
    display: none;
}

h3{
    font-size: 1.8rem;
}

#initial {
    padding: 5px;
    text-align: center;
    font-size: 18px;    
}

#search{
    height: 10%;
    width: 30%;
    font-size: 16px;
    border-radius: 5px;
    
}
#search:focus {
    outline: none;
}
.about, .filterSearch, .row4, .row5, .row6 {
    background:rgba(66, 107, 105, 0.5);
    border-radius: 10px;
}
.logo{
    height: 75px;
    margin: 1%;
}
.title{
    height: 6rem;
}
.about {
    height: 40%;
    overflow: auto;
}

.filterSearch {
    height: 15rem;
}

.about h3 {
    padding-top: 20px;
    line-height: 70%;
}

.about p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    
}

.row4, .row5 {
    min-height: 30rem;
    overflow: auto;
}

#search{
    background: rgba(255, 255, 255, 0.75);
}

ul {
    list-style-type: none;
}

.check {
    float: left;
    margin-right: 2rem;
}

.buttons{
    overflow: auto;
}

.row6{
    background:rgba(66, 107, 105, 0.5);
    height: 30rem;
    margin-bottom: 5%;
}

.barGraph{
    height: 82%;
}

a:link, a:visited {
    color: black;
}
img {
    border-radius: 10px;
}

@media (max-width: 480px){
    .filterSearch {
        height: 24rem;
    }
    #search{
        height: 5%;
        width: 50%;
        font-size: 16px;
        border-radius: 5px;
    }
    body{
        width: 80%;
    }
}
@media (max-width: 416px){
    .filterSearch {
        height: 40%;
    }
    #search{
        height: 5%;
        width: 50%;
        font-size: 16px;
        border-radius: 5px;
    }
    body{
        width: 80%;
    }
}
